# deploy.properties file
#
# $Id$
#
# Specifies various deployment/configuration properties for the
# MathPlayground project. You will need to go through this and configure
# as appropriate for your target platform before running the
# build process.
#
# Important Notes
# ---------------
#
# * DO NOT recommit your own copy of deploy.properties; if making changes,
#   port them to into deploy.properties.sample and commit that back in.
#
# * This file is used as a token filter in the Ant build process so you
#   CANNOT create recursive properties here as they are NOT resolved!!!

###############################################
#
# 1. Core Build Options
#
# Specify whether to including debugging information in the Java
# class files. I'd recommend keeping this set at true.
compile.debug=true

# Specify whether to pre-compile JSPs or not. You will generally want this
# on production machines, but when developing it's best to keep it off.
compile.jsps=false

# Set to true to allow the Ant 'clobber.*' targets to run. These will remove
# existing DB data so should be run with care. It's recommended to keep this
# set to false on a production machine except when explicitly required so as to
# avoid any potential mistakes!!!
allow.clobber=true

#######################################################################
# 2. Tomcat Configuration
#
# Provide the location of your Tomcat installation here.
uk.ac.ed.ph.mathplayground.tomcat.home=/scratch/dmckain/tomcat

# Tomcat context which CST application will be deployed at
#uk.ac.ed.ph.aardvark.tomcat.context.path=/aardvark
uk.ac.ed.ph.mathplayground.tomcat.context.path=/mathplayground

# The build process can use the Tomcat manager webapp to deploy,
# start and stop the CST webapp. If you want to use this,
# Please fill in the URL of your manager application and
# authentication properties
uk.ac.ed.ph.mathplayground.tomcat.manager.url=http://localhost:8080/manager
uk.ac.ed.ph.mathplayground.tomcat.manager.username=dmckain
uk.ac.ed.ph.mathplayground.tomcat.manager.password=1ct0agP

# Specify a list of JAR files that would normally go into WEB-INF/lib
# but should be omitted in order to allow JARs in $TOMCAT_HOME/common/lib
# to be loaded in preference.
#
# This one may be important in production situations as RHEL4's Tomcat 5
# comes with a bundled JavaMail implementation and leaving the mail.jar from
# this project in the ClassPath will cause problems. In that case, you'd want
# to exclude mail.jar. You may also want to exclude JDBC drivers as they would
# need to be in $TOMCAT_HOME/common/lib in order to do JDBC-based web authentication.
uk.ac.ed.ph.mathplayground.tomcat.lib.exclude=postgresql*.jar, mysql*.jar, hsqldb.jar

###############################################
# 3. Server Logging
#
# Specify where the system and auditing logs should go
uk.ac.ed.ph.mathplayground.log=/scratch/dmckain/tomcat/logs/mathplayground.log
