/*
 * Main stylesheet for the SnuggleTeX webapp
 *
 * $Id$
 */

#contentArea {
  padding: 0;
  margin: 0;
  background: url(images/background-gradient.png) repeat-y center right;
  font-family: Arial, Helvetica, Sans-Serif;
}

#skipnavigation {
  display: none;
}

/************************************************************/

#navigation {
  float: right;
  width: 290px;
  background: url(images/background-gradient.png) repeat-y center right;
}

#navinner {
  padding: 20px 16px 0 20px;
}

#navinner h2 {
  color: #25476c;
  padding: 0;
  border-bottom: 1px solid #25476c;
  margin: 0 0 0.2em 0;
  font-weight: bold;
  font-size: 120%;
}

#navinner h2 a:link, #navinner h2 a:visited {
  color: inherit;
}

#navinner ul {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style-type: none;
}

#navinner ul ul {
  margin: 0 0 0 1em;
}

#navinner li {
  margin: 0;
  padding: 0;
}

#navinner a:link, #navinner a:visited {
  color: #25476c;
  text-decoration: none;
}

#navinner a:active {
  color: #25476c;
  text-decoration: none;
}

#navinner a:hover {
  color: #25476c;
  text-decoration: none;
}

#navinner a.selected {
  color: #25476c !important;
  font-weight: bold;
}

/************************************************************/
/* NAVIGATION STUFF */

body#home li.home,
body#asciiMathParser li.asciiMathParser,
body#serverSideasciiMathDemo li.serverSideasciiMathDemo,
body#asciiMathSimpleInputDemo li.asciiMathSimpleInputDemo,
body#asciiMathInputDemo li.asciiMathInputDemo,
body#snuggleTeXInputDemo li.snuggleTeXInputDemo {
  font-weight: bold;
}


/************************************************************/

#maincontent {
  margin: 0 280px 0 0;
}

#maininner {
  padding: 20px 20px 40px 20px;
  margin: 1px;
  overflow-x: auto;
}

#maininner h1 {
  color: #25476c;
  margin: 0 0 0.8em 0;
  padding: 0;
  font-weight: bold;
  font-size: 160%;
}

#maininner h2 {
  color: #25476c;
  margin: 0.8em 0;
  padding: 0;
  font-weight: bold;
  font-size: 130%;
  clear: both;
}

#maininner h3 {
  color: #25476c;
  margin: 1em 0;
  padding: 0;
  font-size: 120%;
}

#maininner a:link {
  color: #25476c;
}

#maininner a:visited {
  color: #736667;
}

#maininner a:hover {
  background-color: #ffdae0;
}

#maininner p {
  margin: 1em 0;
}

#maininner li {
  margin: 1em 0;
}

span.extlink {
  padding-right: 12px;
  margin-left: 2px;
  background: url(images/extlink.png) no-repeat center left;
}

/************************************************************/

.inputBox {
  background: #ffdae0 url(images/pink-gradient.png) repeat-x left top;
  color: black;
  padding: 2em;
  text-align: center;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.result {
  background: #cad8e5 url(images/blue-gradient.png) repeat-x left top;
  padding: 1em;
  color: #25476c;
  overflow: auto;
  font-size: 90%;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.inputWidget {
  min-height: 5em;
}

.inputWidget .inputPanel {
  width: 45%;
  float: left;
  line-height: 5em;
  text-align: left;
}

.inputWidget .inputPanel input {
  margin: 0;
  padding: 0;
}

.inputWidget .previewPanel {
  margin-left: 40%;
  width: 50%;
  text-align: center;
}

.rawRendering {
  min-height: 3em;
}

.inputWidget a {
  display: block;
  float: left;
  line-height: 5em;
  height: 5em;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 18px;
  background: url(images/help.png) center no-repeat;
}

.inputWidget a:hover {
  cursor: help;
  background-color: transparent !important;
}

/************************************************************/

table.inputHelp {
  border-collapse: collapse;
  width: 100%;
  font-size: 90%;
}

table.inputHelp th {
  border: 1px solid #999999;
  padding: 0.2em 0.5em;
  background-color: #cad8e5;
}

table.inputHelp td {
  color: #999999;
  border: 1px solid #999999;
  padding: 0.2em 0.5em;
}

table.inputHelp kbd {
  color: black;
  font-size: 100%;
  line-height: 100%;
}

table.inputHelp .longComma {
  margin-right: 0.5em;
}

/************************************************************/

#footer-icons {
  width: 80px;
  height: 64px;
}

#footer-icons a {
  height: 64px;
}
