div.upConversionAJAXControlMessage {
  width: auto;
  text-align: center;
  display: inline;
  padding: 0.5em 0 0.5em 20px;
}

div.waiting {
  background: url(images/spinner.gif) no-repeat center left;
}

div.success {
  background: url(images/accept.png) no-repeat center left;
}

div.failure {
  background: url(images/cancel.png) no-repeat center left;
}

div.error {
  background: url(images/exclamation.png) no-repeat center left;
}
