<?xml version="1.0"?>
<!--

Web Deployment Descriptor for the SnuggleTeX Math Playground

$Id:web.xml 158 2008-07-31 10:48:14Z davemckain $

Copyright (c) 2008-2011, The University of Edinburgh
All Rights Reserved

-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>MathPlayground</display-name>
  <description>SnuggleTeX Math Playground</description>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>uk.ac.ed.ph.mathplayground.ContextInitialiser</listener-class>
  </listener>
  <servlet>
    <servlet-name>ServerSideASCIIMathDemoServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.mathplayground.ServerSideASCIIMathDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ASCIIMathSimpleInputDemoServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.mathplayground.ASCIIMathSimpleInputDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ASCIIMathSemanticInputDemoServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.mathplayground.ASCIIMathSemanticInputDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ASCIIMathUpConversionService</servlet-name>
    <servlet-class>uk.ac.ed.ph.mathplayground.ASCIIMathUpConversionService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SnuggleTeXSemanticInputDemoServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.mathplayground.SnuggleTeXSemanticInputDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SnuggleTeXUpConversionService</servlet-name>
    <servlet-class>uk.ac.ed.ph.mathplayground.SnuggleTeXUpConversionService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerSideASCIIMathDemoServlet</servlet-name>
    <url-pattern>/server-side-asciimath-demo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ASCIIMathSimpleInputDemoServlet</servlet-name>
    <url-pattern>/asciimath-simple-input-demo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ASCIIMathSemanticInputDemoServlet</servlet-name>
    <url-pattern>/asciimath-semantic-input-demo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SnuggleTeXSemanticInputDemoServlet</servlet-name>
    <url-pattern>/snuggletex-semantic-input-demo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ASCIIMathUpConversionService</servlet-name>
    <url-pattern>/asciimath-upconversion-service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SnuggleTeXUpConversionService</servlet-name>
    <url-pattern>/snuggletex-upconversion-service</url-pattern>
  </servlet-mapping>

  <!-- Custom error page declarations -->
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/jsp/errors/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/errors/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/errors/500.jsp</location>
  </error-page>

</web-app>
